.AlbumCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin-bottom: 16px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.AlbumCardHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 16px;
}

.AlbumCardCover {
  height: 92px;
  width: 92px;
}

.AlbumCardHeaderInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 8px;
}

.AlbumTitle {
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
  word-wrap: break-word;
}

.AlbumArtist {
  margin: 0;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;

  color: rgba(0, 0, 0, 0.45);
}

.AlbumCardTracks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  box-sizing: border-box;
}